<div class="landing">
  <div class="base">
    <div class="image">
      <%= image_tag "cocktails.jpg" %>
    </div>
    <div class="copy">
      <div class="title">
        <small>All your favourite cocktails</small> Mister cocktail</div>
      <div class="text">All your favourite cocktails recipes in the same place <br>
      Get crazy, get creative and show us what you can do.</div> <br>
      <%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-outline-dark" %>

      <div class="container"> 

      </div>
 
    </div>
  </div>
</div>




  <div class="container">
    <h2 class="text-center">Your cocktails</h2>
    <div class="cards">

      <div class="card">
        <img src="images/apply.svg" alt="">
        <% @cocktails.each do |cocktail| %>
          <%= link_to cocktail_path(cocktail), class: "cocktail-card" do %>
          <p><%= cocktail.name %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
