<div class="banner">
    <div class="container">
      <h1 class="text-left">Cocktails</h1>
      <p> All your favourite cocktails</p>

      <%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-outline-dark" %>
    </div>
  </div>


  <div class="container">
    <h2 class="text-center">Your cocktails</h2>
    <div class="cards">

      <div class="card">
        <img src="images/apply.svg" alt="">
        <% @cocktails.each do |cocktail| %>
          <%= link_to cocktail_path(cocktail), class: "cocktail-card" do %>
          <p><%= cocktail.name %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
