<div class="banner">
  <div class="container">
    <h1>New Cocktails</h1>
    <%= simple_form_for(@cocktail) do |f| %>
      <%= f.input :name %>
      <%= f.submit class: "btn btn-outline-dark" %>
    <% end %>
  </div>
</div>
